{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm-6 offset-sm-3  text-center">
    <h1>Login</h1>
        <form method="post" action="{% url 'login' %}">
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_p}}
                <input class="btn btn-primary btn-lg" type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
    </div>
</div>
{% endblock %}