{% extends 'base.html' %}
{% block content %}
<h1>Incidents List</h1>
<div class="row">
    <div class="col-sm-2">
    <a href="{% url 'create_incident' %}" class="btn btn-primary btn-large">Create Incident</a>
    </div>
</div>
<p>&nbsp;</p>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Incident</th>
        <th scope="col">Venue</th>
        <th scope="col">Code</th>
        <th scope="col">Created By</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    {% for obj in objects %}
    <tr>
        <th scope="row"><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a></th>
        <td><a href="{{obj.venue.get_absolute_url}}">{{ obj.venue}}</a></td>
        <td>{{ obj.get_code_display}}</td>
        <td>{{ obj.user.get_full_name}}</td>
        <td><a href="{% url 'edit_incident' obj.pk %}">edit</a><span class="ml-2 mr-2">|</span>
        <a href="{% url 'delete_incident' obj.pk %}">delete</a></td>

    </tr>
    {% endfor %}
</table>

{% include 'snippets/paginator.html' %}

{% endblock %}