{% extends 'base.html' %}

{% block content %}

<h1>{{ object.venue_name }}</h1>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Incident</th>
        <th scope="col">FA</th>
        <th scope="col">Code</th>
        <th scope="col">Created By</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    {% for item in object.Incidents.all %}
    <tr>
        <th scope="row">{{ item.title }}</th>
        <td>{{ item.code}}</td>
        <td>{{ item.user.get_full_name}}</td>
        <td><i class="fa fa-pencil-square-o"></i></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}